{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">Presentación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Presentación -->
<section id="about" class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'portfolio/images/profile.jpg' %}" class="img-fluid rounded-circle" alt="Your Photo">
        </div>
        <div class="col-md-8">
            <h2>Presentación</h2>
            <h3>Analista de Datos</h3>
            <p>Tu descripción aquí. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula ullamcorper
                metus, nec sagittis sem. Sed dictum metus vel nunc blandit, ac bibendum justo malesuada.</p>
        </div>
    </div>
</section>

<!-- Proyectos -->
<section id="projects" class="container">
    <h2 class="text-center">Proyectos</h2>
    <div class="row">
        <div class="col-md-4 project">
            <h3>Limpieza de bases</h3>
            <p>Proyecto enfocado en recibir contenido por medio de excel/csv/json y generar la posibilidad del limpiar el mismo mediante las elecciones de accion del actor 
                como ejemplo dejamos el caso con un dataset dentro del mismo repositorio , siempre para la accion debemos correr el contenido de la carpeta .exe
            </p>
            <img src="{% static 'portfolio/images/project1.jpg' %}" class="img-fluid" alt="Project Image 1">
            <p><a href="#" class="btn btn-primary mt-2">Ver Proyecto</a></p>
        </div>
        <div class="col-md-4 project">
            <h3>Proyecto 2</h3>
            <p>Descripción breve del proyecto.</p>
            <img src="{% static 'portfolio/images/project1.jpg' %}" class="img-fluid" alt="Project Image 2">
            <p><a href="#" class="btn btn-primary mt-2">Ver Proyecto</a></p>
        </div>
        <div class="col-md-4 project">
            <h3>Proyecto 3</h3>
            <p>Descripción breve del proyecto.</p>
            <img src="{% static 'portfolio/images/project1.jpg' %}" class="img-fluid" alt="Project Image 3">
            <p><a href="#" class="btn btn-primary mt-2">Ver Proyecto</a></p>
        </div>
    </div>
</section>

<!-- Contacto -->
<section id="contact" class="container">
    <h2 class="text-center">Contacto</h2>
    <p class="text-center">Para más información, puedes contactarme a través de mis redes sociales.</p>
    <div class="text-center social-icons">
        <a href="https://linkedin.com/in/jeremias-montoya-94678a204" class="btn btn-outline-primary"
           title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/jeremontoya155" class="btn btn-outline-dark" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="mailto:jeremontoya1555@gmail.com" class="btn btn-outline-danger" title="Email">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
