body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 30px; /* Reducimos el margen inferior */
}

section {
    padding: 80px 0; /* Aumentamos el espaciado entre secciones */
    background-color: #f0f7ff; /* Cambiamos el color de fondo de las secciones */
    color: #333; /* Cambiamos el color del texto */
}

.project {
    margin-bottom: 60px; /* Aumentamos el margen inferior entre proyectos */
}
/* Mantenemos los estilos anteriores y hacemos los ajustes necesarios */
.footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0; /* Reducimos el padding en el footer */
    text-align: center; /* Centramos el texto en el footer */
}

.social-icons a {
    margin: 0 20px;
    font-size: 32px;
    transition: color 0.3s; /* Agregamos una transición para suavizar el cambio de color */
}




/* Media Query para hacer la página responsive */
@media (max-width: 768px) {
    section {
        padding: 60px 0; /* Ajustamos el espaciado en dispositivos móviles */
    }

    .project {
        margin-bottom: 40px; /* Reducimos el margen entre proyectos en dispositivos móviles */
    }

    .social-icons a {
        font-size: 28px; /* Reducimos el tamaño de los iconos en dispositivos móviles */
    }
}

